KAFKA_CONTAINER_NAME=
KAFKA_EXTERNAL_PORT=
KAFKA_KRAFT_CLUSTER_ID=

REDIS_CONTAINER_NAME=
REDIS_EXTERNAL_PORT=

MONGO_CONTAINER_NAME=
MONGO_EXTERNAL_PORT=
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DEFAULT_DATABASE=

KAFKA_UI_CONTAINER_NAME=
KAFKA_UI_EXTERNAL_PORT=